<li class="form-group">
    <label>{{label}}</label>
    <span class="form-control">
        <span class="minval">{{values.[0]}}</span>
        <input type ="range" name="{{input}}" min ="{{values.[0]}}" max="{{values.[1]}}" value ="{{value}}"/>
        <span class="maxval">{{values.[1]}}</span>
    </span>
</li>
