<li class="form-group">
    <strong>{{label}}</strong>
    {{#each values}}
        <label class="radio-inline"><input type="radio" name="{{../input}}" value="{{this}}" {{isChecked ../value this}}>{{this}}
        </label>
    {{/each}}
</li>
